/* .castList {
} */
/* .castItemImg {
} */
.castListItem {
  display: flex;
  gap: 2rem;
}
.castListItem:not(:last-of-type) {
  margin-bottom: 2rem;
}
.castItemImgWrap {
  border-radius: 3rem;
  overflow: hidden;
  width: fit-content;
  flex: 0 1 40%;
}
.castItemContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.castItemText {
  font-weight: 400;
}
.castItemText span {
  font-weight: 600;
  color: rgb(209, 50, 50);
}
